$base-color-blue-dark: #00BBC7;
$base-color-orange: #FFA31A;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito:wght@800&display=swap');
$Nunito: 'Nunito', sans-serif;
$Inter: 'Inter', sans-serif;

.allJobs{

    .allJobs-header{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $base-color-blue-dark;
        padding: 36px 0;
        h1{
            font-family: $Nunito;
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 44px;
            text-align: center;
            letter-spacing: -0.4px;
            color: #FFFFFF;
        }
    }
    .allJobs-content{
        margin-top: 40px;
        margin-bottom: 40px;
        .jobs-input-area{

            
            .jobs-dropdown{
                background-color: white;
                border: 2px solid #48CCD5;
                box-sizing: border-box;
                box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.07);
                border-radius: 6px;
                color: #8D8D8D;
                width: 100%;
                text-align: left;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: Inter;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 22px;
                letter-spacing: -0.2px;
                color: #1C1C1C;
                opacity: 0.8;
            } 
            .dropdown-menu1{
                border-radius: 10px;
                padding: 21px 0px 21px 21px;
                background: #FFFFFF;
                box-shadow: 0px 9px 20px rgba(75, 90, 104, 0.35);
                .dropdown-item1{
                    padding-bottom: 5px;
                    .d-header{
                        padding-bottom: 5px;                        
                       p{ font-family: $Inter;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        color: #6E7381;
                       }
                    }
                }
            }   
            .dropdown-menuu{
                border-radius: 10px;
                padding: 18px 4px;
                background: #FFFFFF;
                box-shadow: 0px 9px 20px rgba(75, 90, 104, 0.35);
            }
            .dropdown-itemm{
                font-family: $Inter;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.1px;
                color: #000000;
                
                &:hover{
                    background-color: #fff;
                    color: $base-color-blue-dark;
                }
            }
            
            
        }
    }

}
.allJobs-cards{
    margin-bottom: 250px;
    .allJobs-card{
        margin-bottom: 20px;
        background: #F7F7F7;
        border: 1px solid #E7E7E7;
        border-radius: 10px;
        .card-imgg{
            padding: 7px 0 7px 5px;
            display: flex;
            justify-content: flex-start;
            img{
                opacity: 0.8;
                border-radius: 10px;
                border: 5px solid #E7E7E7;
                width: 110%;
                
            }
        }
        .card-textt{
            padding: 5px 0px 0px 0px;
            h3{
                font-family: Nunito;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: -0.1px;
                color: #000000;
            }
            p{
                font-family: Inter;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                color: #6E7381;
                margin-bottom: 2px;
            }
            h4{
                font-family: Inter;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                color: #6E7381;
                margin-bottom: 17px;
            }
        }
        .allJobs-card-button{
            background-color: $base-color-orange;
            padding: 9px 21px;
            color: white;
            border-radius: 6px;
            transition: all 0.15s ease-in;
            &:hover{
                background-color: white;
                color: $base-color-orange;
            }
        }
    }
}












@media only screen and(max-width:361px){
    .form-group{
        margin-bottom: 10px;
    }
    .card-textt{
        margin-top: -12px;
        h3{
            font-size: 14px;
            line-height: 18px;
        }
        p{
            font-size: 11px;
            line-height: 14px;
        }
        h4{
            font-size: 11px;
            line-height: 14px;
        }
    }
    .allJobs-cards{
        .allJobs-card{
            .allJobs-card-button{
                padding: 4px 15px;
            }
        }
    }
}

@media only screen and(min-width:362px) and(max-width:575px) {
    .form-group{
        margin-bottom: 10px;
    }
    .card-textt{
        margin-top: -8px;
        h3{
            font-size: 14px;
            line-height: 20px;
        }
        p{
            font-size: 11px;
            line-height: 14px;
        }
        h4{
            font-size: 11px;
            line-height: 14px;
        }
    }
    .allJobs-cards{
        .allJobs-card{
            .allJobs-card-button{
                padding: 8px 18px;
            }
        }
    }
}
@media only screen and(min-width:576px) and (max-width: 767px) {
    .form-group{
        margin-bottom: 10px;
    }
    .card-textt{
        margin-top: 20px;
    }
}
@media only screen and(min-width:768px) and (max-width: 991px) {
    .select{
        .dropdown-menu{
            .dropdown-item{
                font-size: 12px;
            }
        }
    }
    .card-textt{
        margin-top: -14px;
        h3{
            font-size: 14px;
            line-height: 20px;
        }
        p{
            font-size: 11px;
            line-height: 14px;
        }
        h4{
            font-size: 11px;
            line-height: 14px;
        }
    }
    .allJobs-cards{
        .allJobs-card{
            .allJobs-card-button{
                padding: 6px 16px;
            }
        }
    }
}
@media only screen and(min-width:992px) and (max-width: 1200px) {
    .allJobs-content{
        .select{
            .dropdown-menu{

            }
        }
    }
    .card-textt{
        
    }
}