$base-color-blue-dark: #00BBC7;
$base-color-orange: #FFA31A;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito:wght@800&display=swap');
$Nunito: 'Nunito', sans-serif;
$Inter: 'Inter', sans-serif;
.HomeC-c1{
    overflow: hidden;
    margin-bottom: 24px;
    .home-banner{
        border-radius: 16px;
        background-color: $base-color-blue-dark;
        .home-banner-left{
            padding: 105px 50px 135px 100px;

            h3{
                font-family: $Nunito;
                font-style: normal;
                font-size: 42px;
                line-height: 50px;
                letter-spacing: -0.8px;
                color: #FFFFFF;
                margin-bottom: 15px;
            }
            p{
                font-family: $Inter;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: -0.1px;
                color: #FFFFFF;
                margin-bottom: 40px;
            }
            .home-banner-btn1{
                background-color: $base-color-orange;
                font-family: $Inter;
                font-style: normal;
                line-height: 26px;
                text-align: center;
                color: white;
                letter-spacing: -0.2px;
                border-radius: 8px;
                padding: 14px 30px;
                text-decoration: none;
                margin-right: 7px;
                transition: all ease-in 0.2s;
                &:hover{
                    background-color: white;
                    color: $base-color-orange;
                }
            }
            .home-banner-btn2{
                background-color: white;
                font-family: $Inter;
                font-style: normal;
                line-height: 26px;
                text-align: center;
                color: $base-color-blue-dark;
                letter-spacing: -0.2px;
                border-radius: 8px;
                padding: 14px 30px;
                text-decoration: none;
                transition: all  ease-in 0.2s;
                border: 1px solid white;
                &:hover{
                    background-color: white;
                    color: $base-color-orange;
                }
            }
        }
        .home-banner-right{
            position: relative;
            img{
                &:nth-child(1){
                    width: 331px;
                    height: 509px;
                    position: absolute;
                    right: 90px;
                    top: 8px;
                }
                &:nth-child(2){
                    position: absolute;
                    width: 145px;
                    height: 46px;
                    top: 30px;
                    right: 270px;
                }
                &:nth-child(3){
                    position: absolute;
                    width: 105px;
                    height: 46px;
                    top: 100px;
                    right: 370px;
                }
                &:nth-child(4){
                    position: absolute;
                    width: 114px;
                    height: 46px;
                    top: 170px;
                    right: 100px;
                }
                &:nth-child(5){
                    position: absolute;
                    width: 114px;
                    height: 46px;
                    top: 236px;
                    right: 85px;
                }
            }
        }
    }
    @media only screen and (max-width: 575px) {
        .home-banner-r{
            display: none;
        }
        .home-banner{
            .home-banner-left{
                padding: 50px 10px 70px 10px;
                h3{
                    font-size: 28px;
                    line-height: 36px;
                }
                p{
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                }
                .home-banner-buttons{
                    text-align: center;
                }
            }
        }
    }
    @media only screen and (min-width: 576px) and (max-width:767px){
        .home-banner{
            .home-banner-left{
                padding: 70px 20px 95px 30px;
                h3{
                    font-size: 40px;
                    line-height: 48px;
                }
                p{
                    font-size: 17px;
                    line-height: 23px;
                }
            }
        }
        .home-banner-r{
            display: none;
        }
    }
    @media only screen and (min-width: 768px) and (max-width:991px){
        .home-banner{
            .home-banner-left{
                padding: 100px 80px 110px 30px;
                h3{
                    font-size: 30px;
                    line-height: 38px;
                }
            }
            .home-banner-right{
                img{
                    &:nth-child(1){
                        width: 300px;
                        height: 480px;
                        right: 0px;
                        top: 10px;
                    }
                    &:nth-child(2){
                        right: 160px;
                        top: 30px;
                    }
                    &:nth-child(3){
                        right: 240px;
                        top: 100px;
                    }
                    &:nth-child(4){
                        right: 0px;
                        top: 170px;
                    }
                    &:nth-child(5){
                        right: 0px;
                        top: 240px;
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .home-banner{
            .home-banner-left{
                padding: 105px 50px 135px 70px;
                h3{
                    font-size: 36px;
                    line-height: 46px;
                }
                p{
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            .home-banner-right{
                img{
                    &:nth-child(1){
                        width: 331px;
                        height: 509px;
                        position: absolute;
                        right: 50px;
                        top: 8px;
                    }
                    &:nth-child(2){
                        position: absolute;
                        width: 145px;
                        height: 46px;
                        top: 30px;
                        right: 230px;
                    }
                    &:nth-child(3){
                        position: absolute;
                        width: 105px;
                        height: 46px;
                        top: 100px;
                        right: 330px;
                    }
                    &:nth-child(4){
                        position: absolute;
                        width: 114px;
                        height: 46px;
                        top: 170px;
                        right: 60px;
                    }
                    &:nth-child(5){
                        position: absolute;
                        width: 114px;
                        height: 46px;
                        top: 236px;
                        right: 45px;
                    }
                }
            }
        }
    }
}
