.navbar {
  height: 90px;

  .box {
    display: none;
  }

  .til {
    display: none;

    li {
      .dropdown-menu {
        margin-left: -10px;
        min-width: 5rem;
        box-shadow: 0px 9px 20px rgba(75, 90, 104, 0.35);
        border-radius: 10px;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    margin-left: 180px;

    li {
      display: flex;
      margin: 0 auto;

      a {
        text-decoration: none;
        font-family: SansSerif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        margin-right: 30px;
        letter-spacing: -0.1px;
        color: #1C1C1C;
      }


    }

    li:nth-child(6) {
      .dropdown-menu {
        margin-left: -10px;
        min-width: 5rem;
        margin-top: 40px;
        box-shadow: 0px 9px 20px rgba(75, 90, 104, 0.35);
        border-radius: 10px;
      }
    }

    li:nth-child(7) {
      background: #F4F4F4;
      border-radius: 100px;
      width: 128px;
      height: 44px;


      .dropdown-toggle {
        padding: 0;
        float: right;
        margin-top: 12px;
        justify-content: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.1px;
        color: #48CCD5;
        margin-left: 50px;


      }

      .navbar-end {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3px;
        position: absolute;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: #48CCD5;


      }

      .dropdown-menu {
        width: 186px;
        height: 200px;
        background: #FFFFFF;
        box-shadow: 0px 9px 20px rgba(75, 90, 104, 0.35);
        border-radius: 10px;
        margin-top: 45px;
        margin-right: 30px !important;

        .dropdown-item {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.1px;
          margin-top: 5px;
          color: #000000;

          .drop-item1 {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.1px;
            color: #000000;
          }

          .drop-item2 {
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            color: #A7AAAE;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    height: 70px !important;
    display: block;

    .til {
      display: block;

      .dropdown {
        list-style-type: none;
        margin-left: -20px;

        .dropdown-menu {
          margin-left: -10px;
          min-width: 5rem;
          box-shadow: 0px 9px 20px rgba(75, 90, 104, 0.35);
          border-radius: 10px;

          .dropdown-item {
            padding-right: 0;
            padding-left: 0;
            display: flex;
            justify-content: center;
          }
        }
      }
    }


    .box {
      display: block;

      li {
        list-style-type: none;
        background: #F4F4F4;
        border-radius: 100px;
        width: 90px;
        height: 44px;
        float: left;
        margin-left: -10px;

        .dropdown-toggle {
          padding: 0;
          float: right;
          margin-top: 12px;
          margin-right: 15px;
          justify-content: center;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.1px;
          color: #48CCD5;


        }

        .navbar-end {
          display: none;


        }

        .dropdown-menu {
          width: 146px;
          height: 200px;
          float: inside;
          margin-left: -50px;
          box-shadow: 0px 9px 20px rgba(75, 90, 104, 0.35);
          border-radius: 10px;
          margin-top: 45px;

          .dropdown-item {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.1px;
            margin-top: 5px;
            color: #000000;

            .drop-item1 {
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: -0.1px;
              color: #000000;
            }

            .drop-item2 {
              font-weight: normal;
              font-size: 12px;
              line-height: 15px;
              color: #A7AAAE;
            }
          }
        }
      }

    }

    .navbar-toggler {
      img {
        width: 20px;
        height: 20px;
      }
    }

    .collapse {
      .show {
        padding: 80px;
        background-color: #FFA31A;

        .navbar-collapse {


        }
      }
    }

    .navbar-collapse {
      ul {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        position: relative;
        background-color: #48CCD5;
        border-radius: 10px;
        z-index: 9;

        li {
          display: flex;

          justify-content: center;
          margin-top: 3px;
          width: 96%;
          margin-left: 2%;
          height: 40px;
          z-index: 10;
          border-radius: 5px;
          padding-top: 10px;
        }

        a {
          margin: 0 auto;
          color: white;
          z-index: 10;
          font-size: 20px;
          font-weight: bold;
        }
      }

      li:nth-child(7) {
        display: none;
      }

      li:nth-child(6) {

        display: none;

      }

    }
  }


}

@media (min-width: 576px) and (max-width: 991px) {

  .navbar {
    height: 60px;

    .til {
      display: block;
      display: flex;

      li {
        list-style-type: none;
        margin-left: -20px;

        .dropdown-menu {
          width: 40px;
          float: inside;
          margin-left: -29px;
          box-shadow: 0px 9px 20px rgba(75, 90, 104, 0.35);
          border-radius: 10px;

          .dropdown-item {
            margin: 0;
            display: flex;
            justify-content: center;
          }

        }
      }
    }


    .box {
      display: block;

      li {
        list-style-type: none;
        background: #F4F4F4;
        border-radius: 100px;
        width: 90px;
        height: 44px;
        margin-left: -10px;

        .dropdown-toggle {
          padding: 0;
          float: right;
          margin-top: 12px;
          margin-right: 15px;
          justify-content: center;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.1px;
          color: #48CCD5;


        }

        .navbar-end {
          display: none;


        }

        .dropdown-menu {
          width: 196px;
          height: 200px;
          float: inside;
          margin-left: -50px;
          box-shadow: 0px 9px 20px rgba(75, 90, 104, 0.35);
          border-radius: 10px;
          margin-top: 45px;

          .dropdown-item {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.1px;
            margin-top: 5px;
            color: #000000;

            .drop-item1 {
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: -0.1px;
              color: #000000;
            }

            .drop-item2 {
              font-weight: normal;
              font-size: 12px;
              line-height: 15px;
              color: #A7AAAE;
            }
          }
        }
      }

    }

    .navbar-toggler {
      img {
        width: 20px;
        height: 20px;
      }
    }

    .navbar-collapse {
      width: 100%;
      padding: 0;
      flex-grow: 0;

      ul {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        position: relative;
        background-color: #48CCD5;
        border-radius: 10px;
        z-index: 9;

        li {
          display: flex;
          justify-content: center;
          margin-top: 3px;
          width: 100%;
          height: 40px;
          border-radius: 5px;
          padding-top: 10px;
        }

        a {
          margin: 0 auto;
          font-size: 20px;
          font-weight: bold;
          color: black;
        }
      }

      li:nth-child(7) {
        display: none;
      }

      li:nth-child(6) {
        a {
          display: none;
        }
      }

    }
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .navbar {
    height: 90px;

    .box {
      display: none;
    }

    .til {
      display: none;

      li {
        .dropdown-menu {
          margin-left: -10px;
          min-width: 5rem;
          box-shadow: 0px 9px 20px rgba(75, 90, 104, 0.35);
          border-radius: 10px;
        }
      }
    }

    ul {
      display: flex;
      align-items: center;
      margin-left: 120px;

      li {
        display: flex;
        margin: 0 auto;

        a {
          text-decoration: none;
          font-family: SansSerif;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          margin-right: 10px;
          letter-spacing: -0.1px;
          color: #1C1C1C;
        }


      }

      li:nth-child(6) {
        .dropdown-menu {
          margin-left: -10px;
          min-width: 5rem;
          margin-top: 40px;
          box-shadow: 0px 9px 20px rgba(75, 90, 104, 0.35);
          border-radius: 10px;
        }
      }

      li:nth-child(7) {
        background: #F4F4F4;
        border-radius: 100px;
        width: 128px;
        height: 44px;


        .dropdown-toggle {
          padding: 0;
          float: right;
          margin-top: 12px;
          justify-content: center;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.1px;
          color: #48CCD5;
          margin-left: 50px;


        }

        .navbar-end {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 3px;
          position: absolute;
          width: 38px;
          height: 38px;
          border-radius: 50%;
          background: #48CCD5;


        }

        .dropdown-menu {
          width: 186px;
          height: 200px;
          background: #FFFFFF;
          box-shadow: 0px 9px 20px rgba(75, 90, 104, 0.35);
          border-radius: 10px;
          margin-top: 45px;
          margin-right: 30px !important;

          .dropdown-item {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.1px;
            margin-top: 5px;
            color: #000000;

            .drop-item1 {
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: -0.1px;
              color: #000000;
            }

            .drop-item2 {
              font-weight: normal;
              font-size: 12px;
              line-height: 15px;
              color: #A7AAAE;
            }
          }
        }
      }
    }
  }
}