@import "video-react/styles/scss/video-react";
$base-color-blue-dark: #00BBC7;
$base-color-orange: #FFA31A;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600family=Inter:wght@500&family=Nunito:wght@800&display=swap');
$Nunito: 'Nunito', sans-serif;
$Inter: 'Inter', sans-serif;
h3{
    margin-top: 17px;
    font-family: $Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
}
p{
    font-family: $Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #D1D4D8;
    display: inline-block;
    align-items: center;
    margin-right: 15px;
    img{
        margin-right: 5px;

    }
}